.grid {
  display: grid;
  width: 600px;
  height: 600px;
  border: solid #000;
}

.row {
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.l-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 300px;
}

.b-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

h1 {
  font-size: 60px;
  text-align: center;
}
