.container {
  display: flex;
  justify-content: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 578px;
}

.row {
  border: solid black;
  height: 30px;
  width: 30px;
}

.row:hover {
  background-color: black;
}
